<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %t %c{1}:%L - %m%n"/>
        </Console>

        <Async name="async" blocking="false" includeLocation="true">
            <AppenderRef ref="console" />
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.javi.bankifi" level="DEBUG" />

        <Root level="INFO">
            <AppenderRef ref="async"/>
        </Root>
    </Loggers>
</Configuration>